*{
    font-family: arial, sans-serif, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*NAV-TOP */
.nav-border{
    border: 1.5px solid transparent ;
}
.nav-border:hover{
  border: 1.5px solid white;
  height: 44px;
  
}
.nav-top {
    height: 60px;
    background-color: #0f1111;
    display: flex;
justify-content: space-evenly;
align-items: center;
}
.nav-logo {
    height: 60px;
    width: 114px;
   background-image: url(../images/amazon_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;  
   
}
.amazonlogo{
    height: 58px;
    width: 100%;
   
}

.nav-address-location {
    font-size: 12px;
}
.nav-address {
    height: 58px;
    width: 90px;
    display: flex;
    align-items: center;
    
}
.nav-icon {

    color: white;
    font-size: 16px;
    font-weight: bold;
}
.pinpoint {
    color: white;
    height: 18px;
    
}


.deliver-to{
    color: #cccccc;
    
}


.nav-search-box {
display: flex;
    width: 1250px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;

}
.nav-search-box:hover{
    border: 1px solid #febd68;
}
.all-box
{
    background-color: #e6e6e6;
    color: #666666;
    height: 38px;
    width: 52px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: transparent;
 
}
.all-options
{
    font-size: 14px;
    color: #666666;
    
}
.search-bar {
    background-color: white;
    height: 38px;
    width: 100%;
    font-size: 16px;
    align-self: center;
    border: none;

}
.search-bar:active{
    border:1px solid #febd68;}
.search-button {
    background-color:  #febd68;
    height: 38px;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #353535;
    border-color: transparent;

}
.search-button:hover{
    background-color: orange;
    
}
.nav-lang {
    color: white;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    display:flex;
    align-items: center
}
.flag{
    background-image: url(../images/usflag.png);
    background-position: center;
    height: 1.5rem;
    width: 2rem;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat
;
}
.lang{
    color: white;
    width: 50px;
    font-weight: 750;
    background-color: transparent;
    border-color: transparent;
    background-size: contain;
         
}

.nav-signin{
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.sign-in{
    color: white;
    font-size: .75rem
}
.accounts-list{
    color: white;
    font-size: .85rem;
    font-weight: bold;
}
.nav-return-orders {
    color: white;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.nav-cart{
    display: flex;
  
    width: 55px;
    justify-content: center;
    height: 58px;
    align-items: center;
}
.cart-icon{
    color: white;
    
}
/* NAV-BOTTOM */
.nav-bottom {
    height: 39px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-links{
    display: flex;
align-items: center;
    list-style: none;
    justify-content: space-between;  
    list-style: none;
    flex: 1;
    height: 39px;
   
    
    
}
.nav-links a {
    text-decoration: none;
    color: white;
   font-size: 1rem;
   font-weight: 500;
   height: 39px;

}

.nav-bottom-items {

display: flex;
align-items: center;
justify-content: space-between;
width: 700px;
height: 39px;

}
.all-hamburger {
    
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.hamburger{
    margin-right: 2px;
    height: 20px;
}


/* <!-- ===============================
    MAIN CONTENT
    =============================== --> */

    
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-image{
    background-image: url(../images/hero_image.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;

}
.hero-notice{
    background-color: white;
    height: 40px;
    width: 1400px;
    color: #0f1111;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.hero-notice a{
    text-decoration: none;
    color: rgb(32, 134, 160);
    font-size: .85rem;
   
}
.buy-panel-main{
    width: 100%;
    background-color: rgb(203, 219, 219);
    margin-top:20px;
}
.buy-panel{
    display: flex;
    height: 580px;
    width: 100%;
    justify-content: space-evenly;
    
}
.buy-box1{
    background-color: white;
    height: 550px;
    width: 23%;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-radius: 1rem;
    
}
.buy-box1-image{
    height: 400px;
    background-color: #0f1111;
    background-repeat: no-repeat;
    background-size: cover;
    width: 94%;
    align-self: center;
    border-radius: 1rem;
}
.buy-box1 h2{
    padding: 12px;
    text-decoration: none;
    
}
.buy-box1 a{
    padding: 12px;
    text-decoration: none;
    color: rgb(32, 134, 160);
    margin-top: -10px;

    
}
.box1-image{background-image: url(../images/box6_image.jpg);
}
.box2-image{background-image: url(../images/box2_image.jpg);
}
.box3-image{background-image: url(../images/box4_image.jpg);
}
.box4-image{background-image: url(../images/box5_image.jpg);
}
.box5-image{background-image: url(../images/box3_image.jpg);
}
.box6-image{background-image: url(../images/box7_image.jpg);
}
.box7-image{background-image: url(../images/box8_image.jpg);
}
.box8-image{background-image: url(../images/box1_image.jpg);
}
.back-to-top{
    background-color: #232f3e;
    height: 3rem;
    color: rgb(226, 242, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* <!-- ===============================
FOOTER
=============================== --> */

.footer-top{
    display: flex;
    flex-direction: row;
    background-color: #19232e;
    height: 300px;
    width: 100%;
    border-bottom: 1.5px rgb(126, 124, 124) solid;
    justify-content: space-around;
}
.footertop1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    

}
.footer-top a{
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-size: .85rem;

}
.footer-top p{
    color: white;
    font-weight: 550;
    font-size: .85rem;
    margin-top: 10px;

}
.footer-bottom{
    width: 100%;
    height: 100px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-logo {
    height: 60px;
    width: 114px;
    background-image: url(../images/amazon_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}